@model ControleEstoque.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <h3 class="titulo text-center">Entrar no Sistema</h3>
    </div>
    <div class="row justify-content-center">
        <section id="loginForm" class="col-md-6">
            @using (Html.BeginForm("Login", "Conta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!-- Usuário -->
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.Usuario, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control border" }) <!-- Borda adicionada -->
                        @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Senha -->
                <div class="form-group mb-3">
                    @Html.LabelFor(m => m.Senha, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control border" }) <!-- Borda adicionada -->
                        @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Lembrar Me -->
                <div class="form-group mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.CheckBoxFor(m => m.LembrarMe)
                        @Html.LabelFor(m => m.LembrarMe)
                    </div>
                </div>

                <!-- Botão de Entrar -->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Entrar" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
